pdf-masters.com {

    encode gzip


    # Proxy API calls to backend

    reverse_proxy /api/* pdfmaster-backend:5000


    # Serve frontend React app

    reverse_proxy pdfmaster-frontend:80


    # Enable HTTPS with Let's Encrypt (replace with your real email)

    tls chukwuemeka.on17@gmail.com

}

